n8n_workflows/action_queue_processor.json
{
  "name": "[DabbahWala] Action Queue Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://dabbahwala-latest.onrender.com/api/agents/action-queue/pending",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "limit", "value": "50" }]
        },
        "options": {}
      },
      "name": "Get Pending Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{ $json.pending.length }}", "value2": 0, "operation": "larger" }]
        }
      },
      "name": "Has Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dabbahwala-latest.onrender.com/api/agents/action-queue/post-process",
        "options": { "timeout": 60000 }
      },
      "name": "Process Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 250]
    }
  ],
  "connections": {
    "Every 5 Minutes": { "main": [[{ "node": "Get Pending Actions", "type": "main", "index": 0 }]] },
    "Get Pending Actions": { "main": [[{ "node": "Has Pending?", "type": "main", "index": 0 }]] },
    "Has Pending?": { "main": [[{ "node": "Process Queue", "type": "main", "index": 0 }], []] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "dabbahwala" }, { "name": "queue" }]
}
